.navbar-brand {
    font-family: Nunito;
    font-size: 30px;
}

/* .hero {
    background-size: cover;
    height: 100vh;
} */

.hero { 
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(51, 50, 0, 0)), url(/images/hero.jpeg);
    background-size: cover;
    height: 700px;
    width: 100%;
}

.product-img { 
    height: 600px
}

@media screen and (max-width:767px){
    .hero {
        height: 300px;
    }
}